<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mao.beautylife">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 基础模块（必须加入以下声明）START -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 基础模块 END -->
    <application
        android:name=".MyLeanCloudApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="628f98b9693fa3cb58adf6576718fdc2" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.HomeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.ProductActivity" />
        <activity android:name=".activity.SearchResultActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".activity.VideoActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".activity.MapActivity"></activity>

        <service
            android:name=".service.MapService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".activity.SettingActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".activity.FullImageActivity"/>
    </application>

</manifest>